/*
--- 01 TYPOGRAPHY SYSTEM

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights
Default: 400
Medium: 500
Semi-bold: 600
Bold: 700

- Line heights
Default: 1
Small: 1.05
Medium: 1.2
Paragraph default: 1.6
Large: 1.8

- Letter spacing
-0.5px
0.75px

--- 02 COLORS

- Primary: 
- Tints:


- Shades: 


- Accents:
- Greys



--- 05 SHADOWS

0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);

--- 06 BORDER-RADIUS

Default: 9px
Medium: 11px

--- 07 WHITESPACE

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

:root {
  --background-color-gaming: #1d1f20;
  --white-color--gaming: #fff;

  --background-color-free: #d1dfe7;
  --black-color-free: #333;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 10px; */

  /* 10px / 16px = 0.625 = 62.5% */
  /* Percentage of user's browser font-size setting */
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: var(--white-color--gaming);
  background: #333;

  /* Only works if there is nothing absolutely positioned in relation to body */
  overflow-x: hidden;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #cc0000 var(--background-color-gaming);
}
/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 4px;
}
*::-webkit-scrollbar-track {
  background: #2a2a2a;
}
*::-webkit-scrollbar-thumb {
  background-color: #cc0000;
  border-radius: 8px;
  border: 3px none #cc0000;
}

#switch-mode-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  z-index: 9999;
}

#switch-mode-btn i {
  font-size: 24px;
  color: #fff;
}

/**************************/
/* HEADER */
/**************************/

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-color-gaming);

  /* Because we want header to b    e sticky later */
  height: 5.2rem;
  padding: 0 4.8rem;
}

.logo {
  height: 4.2rem;
}

/**************************/
/* NAVIGATION */
/**************************/

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4.8rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: var(--white-color--gaming);
  font-weight: 500;
  font-size: 1.4rem;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #cc0000;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  color: var(--white-color--gaming);
  background-color: #cc0000;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #8f0000;
}

/* SECTION HERO */

.hero {
  min-height: 90vh;
  padding: 2.4rem 0;
}

.hero .title {
  font-size: 8rem;
  line-height: 15rem;
  text-align: center;
  transition: all ease 0.3s;
}

.hero .title:hover {
  scale: 1.1;
  transition: all ease 0.3s;
}

.hero .hero-subtitle {
  color: #cc0000;
}

/* SECTION OFFERS */
.offers {
  height: 35rem;
  display: flex;
  flex-direction: column;
}

.card-offer {
  background: rgba(30, 30, 30, 0.85);
  margin: 0 12.8rem;
  height: 30rem;
}

.title-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 4rem;
  color: #fff;
  text-align: center;
  cursor: pointer;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal {
  position: relative;
  max-width: 80%;
  max-height: 90%;
}

.modal video {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

body.modal-open {
  overflow: hidden;
}

/**************************/
/* FEATURED IN SECTION */
/**************************/

.section-featured {
  padding: 8.4rem 0;
  background: var(--background-color-gaming);
  margin-bottom: 2.4rem;
}

.heading-featured-in {
  font-size: 6.4rem;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 2.4rem;
  color: var(--white-color--gaming);
  text-align: center;
}

.strong-featured-in {
  color: #cc0000;
  font-weight: 700;
}

/**************************/
/* HOW IT WORKS SECTION */
/**************************/

.section-how {
  padding: 3.2rem 0;
  margin-bottom: 6.4rem;
}

.step-number {
  font-size: 8.6rem;
  font-weight: 600;
  color: #ddd;
  margin-bottom: 1.2rem;
}

.step-description {
  font-size: 1.8rem;
  line-height: 1.8;
}

.step-freebox-box {
  margin-top: 1.2rem;
  display: flex;
  justify-content: space-around;
}

.freebox-details {
  display: flex;
  flex-direction: column;
  width: 33%;
}

.custom-heading {
  color: #cc0000;
  font-size: 4.2rem;
  font-weight: bold;
}

.freebox-title {
  font-size: 2.4rem;
}

.freebox-text {
  display: inline-block;
  font-size: 1.8rem;
  margin-bottom: 1.2rem;
  line-height: 1.4;
}

.freebox-subtext {
  font-size: 1.2rem;
}

.step-img-box {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
}

.step-img-box::before,
.step-img-box::after {
  content: "";
  display: block;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.step-img-box::before {
  width: 60%;
  /* height: 60%; */

  /* 60% of parent's width */
  padding-bottom: 60%;

  background-color: #8f0000;
  z-index: -2;
}

.step-img-box::after {
  width: 45%;
  padding-bottom: 45%;
  background-color: #db4d4d;
  z-index: -1;
}

.step-img {
  width: 35%;
  scale: 2;
  /* z-index: 10; */
}

/**************************/
/*    OPTIONS SECTION     */
/**************************/

.section-options {
  background: #111;
  margin-top: 3.4rem;
  padding: 9.6rem;
  border-radius: 0% !important;
}

/**************************/
/*    PROPS SECTION     */
/**************************/

.section-props {
  margin-top: 8.4rem;
  padding: 0 8.4rem;
}

.props-card {
  position: relative;
  height: 48rem;
  width: 24rem;
}

.props-model {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
}

/**************************/
/*    PRICING SECTION     */
/**************************/

.section-pricing {
  padding: 9.6rem 0;
}

.pricing-plan {
  border-radius: 11px;

  width: 75%;
}

.pricing-plan--starter {
  justify-self: end;
  border: 2px solid var(--white-color--gaming);
  padding: 4.6rem;
}

.pricing-plan--complete {
  background-color: #333;
  /* border: 2px solid #fdf2e9; */
  padding: 4.8rem;
  /* position: relative; */
}

.plan-header {
  text-align: center;
  margin-bottom: 4.8rem;
}

.option-heading-discover,
.option-heading-create,
.optin-heading-share {
  color: white !important;
  text-align: center;
}

.option-heading-discover:after,
.option-heading-discover:before {
  color: rgba(204, 0, 0, 0.4) !important;
  display: flex;
  flex-direction: column;
  content: "DECOUVRIR";
  line-height: 0.9rem;
}
.option-heading-create:after,
.option-heading-create:before {
  color: rgba(204, 0, 0, 0.4) !important;
  display: flex;
  flex-direction: column;
  content: "CREER";
  line-height: 0.9rem;
}

.optin-heading-share:after,
.optin-heading-share:before {
  color: rgba(204, 0, 0, 0.4) !important;
  display: flex;
  flex-direction: column;
  content: "PARTAGER";
  line-height: 0.9rem;
}

.option-subtext {
  text-align: center;
}

.plan-name {
  color: var(--white-color--gaming);
  font-weight: 600;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.75;
  margin-bottom: 3.2rem;
}

.plan-price {
  font-size: 6.2rem;
  font-weight: 600;
  color: #cc0000;
  margin-bottom: 1.6rem;
}

.plan-price span {
  font-size: 3rem;
  font-weight: 500;
  margin-right: 0.8rem;
}

.little {
  font-size: 1.5rem;
}

.plan-text {
  font-size: 1.6rem;
  line-height: 1.6;
  color: var(--white-color--gaming);
}

.plan-sing-up {
  text-align: center;
  margin-top: 4.8rem;
}

.plan-details {
  font-size: 1.6rem;
  line-height: 1.6;
  text-align: center;
}

.feature-icon {
  color: var(--white-color--gaming);
  height: 3.2rem;
  width: 3.2rem;
  border: 2px solid var(--white-color--gaming);
  margin-bottom: 3.2rem;
  padding: 1.6rem;
  border-radius: 50%;
}

.feature-title {
  font-size: 2.4rem;
  color: #cc0000;
  font-weight: 700;
  margin-bottom: 1.6rem;
}

.feature-text {
  font-size: 1.8rem;
  line-height: 1.8;
}

/* PRICE BORDER */
.gradient-border {
  --borderWidth: 3px;
  background: var(--background-color-gaming);
  position: relative;
  border-radius: var(--borderWidth);
}
.gradient-border:after {
  content: "";
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(
    60deg,
    #f79533,
    #f37055,
    #ef4e7b,
    #a166ab,
    #5073b8,
    #1098ad,
    #07b39b,
    #6fba82
  );
  border-radius: calc(2 * var(--borderWidth));
  z-index: -1;
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
}

@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/**************************/
/* CTA SECTION */
/**************************/

.section-cta {
  /* top / right / bottom / left */
  /* padding: 9.6rem 0 12.8rem 0; */

  /* top / horizontal / left */
  padding: 4.8rem 12.8rem 0 12.8rem;
}

.cta {
  display: grid;
  grid-template-columns: 2fr 1fr;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
}

.cta-text-box {
  padding: 4.8rem 6.4rem 6.4rem 6.4rem;
  color: var(--white-color--gaming);
}

.cta .heading-secondary {
  color: #cc0000;
  margin-bottom: 3.2rem;
}

.cta-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 4.8rem;
}

.cta-img-box {
  background-image: linear-gradient(
      to left bottom,
      rgba(204, 0, 0, 0.5),
      rgba(0, 0, 0, 0.4)
    ),
    url("../assets/img/formimg.jpg");
  background-size: cover;
  background-position: center;
  max-width: 100%;
  border-radius: 3px;
}

.cta-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3.2rem;
  row-gap: 2.4rem;
}

.cta-form label {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}

.cta-form input,
.cta-form select {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.8rem;
  font-family: inherit;
  color: #aaa;
  border: none;
  background-color: var(--white-color--gaming);
  border-radius: 9px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.cta-form input::placeholder {
  color: #aaa;
}

.cta *:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem rgba(204, 0, 0, 0.5);
  transition: all ease 0.3s;
}

.btn-box {
  display: grid;
  grid-column: 1/3;
  width: 100%;
}

/**************************/
/* PLAYNOW */
/**************************/

.section-playnow {
  padding: 4.8rem 0 3.2rem 0;
  display: flex;
  justify-content: center;
}

.card {
  width: 8rem;
  height: 8rem;
  border: 1px solid var(--background-color-gaming);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  margin-right: 10px;
  color: #cc0000;
}

.row {
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.card {
  background-color: var(--background-color-gaming);
}

/**************************/
/* FOOTER */
/**************************/

.footer {
  padding: 2.4rem 0;
  background: var(--background-color-gaming);
}

.flex--footer {
  display: flex;
  justify-content: center;
}

.logo-col {
  display: flex;
  flex-direction: column;
}

.footer-logo {
  display: flex;
  justify-content: center;
  margin-bottom: 1.2rem;
}

.social-links {
  list-style: none;
  display: flex;
  justify-self: center;
  gap: 2.4rem;
  margin-bottom: 1.2rem;
}

.social-icon {
  height: 2.4rem;
  width: 2.4rem;
}

.copyright {
  font-size: 1.4rem;
  line-height: 1.6;
  color: #767676;
  margin-top: auto;
}

.footer-heading {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 4rem;
}

.contacts {
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.6;
}

.address {
  margin-bottom: 2.4rem;
}

.footer-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: #767676;
  transition: all 0.3s;
}

.footer-link:hover,
.footer-link:active {
  color: #555;
}
